body {
  font-family: Arial;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f2f2f2;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
}
